<ion-content class="home-content">
  <div class="container">
    <div class="title oval-title">Medimemo</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="welcome-container">
            <div class="profile-icon">
              <ion-icon name="person-circle-outline" class="extra-large-icon"></ion-icon>
            </div>
            <h1>¡Bienvenido {{ nombreUsuario }}!</h1>
          </div>
          <ion-button expand="block" color="success" routerLink="/medication-reminder">Recordatorio de Medicamentos</ion-button>
          <ion-button expand="block" color="success" routerLink="/medical-appointments">Citas Médicas</ion-button>
          <ion-button expand="block" color="success" routerLink="/medication-search">Buscar Medicamento</ion-button>
          <ion-button expand="block" color="danger" (click)="logout()">Cerrar Sesión</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
