<ion-content>
  <div class="container">
    <div class="title oval-title">Registro</div>
    <form (ngSubmit)="register()">
      <ion-item>
        <ion-label position="stacked">Nombre Completo</ion-label>
        <ion-input type="text" [(ngModel)]="nombre" name="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" type="{{ mostrarContrasena ? 'text' : 'password' }}"></ion-input>
        <ion-button
        class="mostrar-contrasena"
        fill="clear"
        slot="end"
        (click)="toggleMostrarContrasena()"
        color="transparent"
        style="position: absolute; right: 0; z-index: 2">
        <ion-icon
          [name]="mostrarContrasena ? 'eye-off-outline' : 'eye-outline'"
        ></ion-icon>
      </ion-button>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirmar Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmarPassword" name="password" type="{{ mostrarConfirmarContrasena ? 'text' : 'password' }}"></ion-input>
        <ion-button
          class="mostrar-contrasena"
          fill="clear"
          slot="end"
          (click)="toggleMostrarConfirmarContrasena()"
          color="transparent"
          style="position: absolute; right: 0; z-index: 2"
        >
          <ion-icon
            [name]="mostrarConfirmarContrasena ? 'eye-off-outline' : 'eye-outline'"
          ></ion-icon>
        </ion-button>  
      </ion-item>
      <ion-button expand="block" type="submit" color="success">Registrarse</ion-button>
      <ion-button expand="block" type="button" color="danger" (click)="cancel()">Cancelar</ion-button>
    </form>
  </div>
</ion-content>

